.logo {
  float: left;
  margin: 0 20px 0 0;
  color: aliceblue;
  font-size: 25px;
  cursor: pointer;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

/* TEST!!!!!!!!!!!! */

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}