@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

.showdata_box {
	display: flex;
	border-radius: 8px;
	justify-content: space-around;
	font-family: 'Montserrat', sans-serif;
}

.showdata_box_img {
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	width: 100%;
}

.showdata_box_img img {
	border-radius: 8px;
}

.showdata_box_info {
	height: 100%;
	width: 100%;
	text-align: start;
	color: rgb(0, 0, 0);
	padding: 50px;
}

.showdata_box_info h2 {
	font-size: 18px;
	font-weight: bold;
}
.showdata_box_info h1 {
    border-bottom: 3px solid rgb(0, 0, 0);
	font-size: 30px;
}

@media (max-width: 1250px) {
	.showdata_box {
		flex-direction: column;
	}
  }